<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Yeni Görev Ekle</h5>
                <button type="button" id="closecreateModalLabel" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createForm" action="@Url.Action("Create", "Duties")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="dutyName">Görev Adı</label>
                        <input type="text" class="form-control" id="dutyName" name="DutyName" required />
                    </div>
                    <div class="form-group">
                        <label for="description">Açıklama</label>
                        <textarea class="form-control" id="description" name="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="status">Durum</label>
                        <select id="status" name="Status" class="form-control">
                            <option value="Bekliyor">Bekliyor</option>
                            <option value="DevamEdiyor">Devam Ediyor</option>
                            <option value="Tamamlandi">Tamamlandı</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Son Tarih</label>
                        <input type="date" class="form-control" id="dueDate" name="DueDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <button style="margin-top: 5px;" type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
