<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archiveModalLabel">Görevi Arşivle</h5>
                <button type="button" id="closearchiveModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bu görevi arşive almak istediğinizden emin misiniz?</p>
                <input type="hidden" id="archiveDutyId" />
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelarchive" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-danger" id="confirmArchive">Arşivle</button>
            </div>
        </div>
    </div>
</div>
